JDBCDemo1/Example.class
JDBCDemo2/.classpath
JDBCDemo2/.project
JDBCDemo2/.settings/org.eclipse.core.resources.prefs
JDBCDemo2/.settings/org.eclipse.jdt.core.prefs
JDBCDemo2/.settings/org.eclipse.m2e.core.prefs
